<head>
    <title>
      Login Page
    </title>
  </head>
  <body class="text-center">
    <table>
      <form method="get" action="/logout">
        <h1>Logout Page</h1>
        <button>Logout</button>
        </tr>
      </form>
    </table>
  </body>
</html>
