<html>
  <head>  
    <title>Home page</title>
  </head>
  <body background="bg.jpg">
        <div>
            <h1><font color="white">Welcome to Creative Minds</font></h1>  
        </div>
       
        <form action='/signup' method='get'>
              <button>Login/SignUp</button>
        </form>
    
  </body>
</html>